<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Mobile\Customapi\Api\HomeSliderInterface" type="Mobile\Customapi\Model\HomeSlider"/>
	<preference for="Mobile\Customapi\Api\HomeProductsInterface" type="Mobile\Customapi\Model\HomeProducts"/>
</config>
